* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
}

.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #292828;
    font-weight: bold;
    cursor: pointer;
}

.main_container {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}


.main {
    margin-top: 50px;
}


.main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.main form input {
    width: 40%;
    padding: 5px 10px;
    border: 2px solid #292828;
    outline: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.main form button {
    margin-top: 30px;
    border: 2px solid #292828;
    background-color: white;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #292828;
    padding: 3px 10px;
    cursor: pointer;
    outline: none;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}

.main form button:hover {
    background-color: #292828;
    color: white;
}

.main img {
    margin-top: 20px;
}


.main_result {
    margin-top: 20px;
}


.main_result .absolute {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_result .absolute span {
    margin-bottom: 10px;
    border: 2px solid #292828;
    padding: 3px 10px;
    border-radius: 3px;
    font-weight: bold;
}

.main_result .absolute a {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}
